.landmark__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}

@media (max-width: 1023px) {
  .landmark__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 767px) {
  .landmark__title {
    font-size: 32px;
    line-height: 35px;
  }
}
